{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
  <i><a href="/">go back</a></i>
  <p>At some point, you can expect to have these in itemized categories.</p>
  <p>Right now, I don't have a volume of posts that necessitates it.</p>
<ul>
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.date }} {{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}