{% extends "base.html" %} {% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<i><a href="/">go back</a></i
><br /><br />
<p>
  Gaze upon my prose and weep. Not because it's beautiful, but because you're
  sad you spent time reading it.
</p>
<ul>
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->
  {% for page in section.pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }} ({{ page.date }})</a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
