{% extends "base.html" %}

{% block content %}


<h1 class="title"> Aiden Fox Ivey </h1>

<ul>
    <li><a href="{{ get_url(path="@/blog/_index.md") }}">blog posts</a></li>
    <li><a href="/resume.pdf" type="pdf">resume</a></li>
    <li><a href="https://git.sr.ht/~aidenfoxivey">sourcehut repositories</a></li>
    <li><a href="https://github.com/aidenfoxivey">github repositories</a></li>
    <li><a href="https://huggingface.co/aidenfoxivey">hugging face</a></li>
	<li><a rel="me" href="https://mastodon.social/@aidenfoxivey">mastodon</a></li>
</ul>

<div>
    <p>I'm Aiden. Welcome to my dusty corner of the internet.</p> 

    <p>I have opinions like many people on the internet and I am predisposed to talk about them too often. I write 
        code to solve problems and deliver value (but only if forced to - otherwise I like to deliver as little value as possible).

        I don't really like putting a bunch of tags to summarize what I do</p>

    <p>
    I have a selection of writings under "posts." Everything else should be fairly self explanatory. If you want me to develop your
    app, it had better be an app about 6 recipes for octopus.</p>

    <p>FYI, I'm not currently using Github for most of my projects. You should
    go on SourceHut to see the latest things. As well, the HuggingFace link is
    there for future use. I have nothing on there because I haven't really messed
    around with serious machine learning in my spare time yet. I'm still trying
    to Grok some of the fundamentals, so I think it would be naive at best to post
    those on the link.</p>

    <p>If you want to contact me, send me an email at:</p>
    <h3>abfoxivey[at]uwaterloo[dot]ca</h3>
    <p>I am more than happy to chat. Please do not abuse this. The University
    of Waterloo spam filters are capable, but in general it would be more
    polite to not bother sending spam in the first place.</p>
</div>

{% endblock content %}
