{% extends "base.html" %}

{% block content %}


<h1 class="title">
  Aiden Fox Ivey
</h1>

<ul>
  <li> <a href="{{ get_url(path="@/blog/_index.md") }}">posts</a>     </li>
  <li> <a href="/resume.pdf" type="application/pdf">resume</a></li>
  <li> <a href="https://git.sr.ht/~aidenfoxivey">sourcehut</a>        </li>
  <li> <a href="https://github.com/aidenfoxivey">github</a>           </li>
  <li> <a href="https://huggingface.co/aidenfoxivey">hugging face</a> </li>
</ul>

<p>
  Welcome to my dusty corner of the internet. I have a selection
  of writings under "posts." Everything else should be fairly self
  explanatory. </p>
<p>
  If you want to contact me, send me an email at:
</p>
<h2>
  abfoxivey[at]uwaterloo[dot]ca
</h2>
<p>
  I am more than happy to chat. Please do not abuse this. The University
  of Waterloo spam filters are capable, but in general it would be more
  polite to not bother sending spam in the first place.
</p>
{% endblock content %}
